@model Fudee_v2.Models.Dish

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dish</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageDish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageDish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameDishes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameDishes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionDishes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionDishes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.DescriptionRestaurant)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDishes">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
